* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {padding: 20px;}
.wrap h1 {margin: 0 0 20px 0;}

.tree_box {}

.tree_item span {display: inline-block; width: 40px; padding: 10px 0; font-weight: 600; font-size: 15px; text-align: center;}
.tree_item button {padding: 10px 20px; margin: 0 0 0 5px; background: #ccc; border: 1px solid #ccc; cursor: pointer}
.tree_item input {padding: 10px; width: 300px;}

.tree_field {margin: 0 0 10px 0;}

.level-1 {}
.level-2 input {margin-left: 50px;}
.level-3 input {margin-left: 100px;}
